h1{
  color:black;
  text-align: center;
  background-color:#424242;
}
header#titulo{
    margin-top:0px;
    width: 100%;
    height: 80px;
    background-color: rgb(119, 165, 119);
  }
div#inicio{
    position: absolute;
    text-align: center;
    margin-top:0px;
    width: 100%;
    height: 500px;
    background-color: yellow;
}
nav#contenido{
    position: relative;
    float: right;
    margin-top:0px;
    width:30%;
    height:500px;
    background-color:#424242;
  }
article#todo{
    position: relative;
  float: left;
  margin-top:0px;
  width:30%;
  height:500px;
  background-color:#424242;
}
footer#pie{
    float: none;
    background-color: black;
}
h3{
  text-align: center;
  font-family: "Times New Roman";
  padding : 20px;
  font-size: 30px;
}